{
  defaults = {
    username = "your-user";
  };

  profiles = {
    darwin-aarch64 = {
      homeDirectory = "/Users/your-user";
    };

    darwin-x86_64 = {
      homeDirectory = "/Users/your-user";
    };

    linux-x86_64 = {
      homeDirectory = "/home/your-user";
    };

    linux-aarch64 = {
      homeDirectory = "/home/your-user";
    };
  };
}
